/*
Sintaxis CSS

Regla o Rule
*/
/*
selector{
    propiedad1: valor;
    propiedad2: valor;
}
*/
@font-face{
    font-family: Monserrat;
    src: url(./fuentes/Montserrat-Regular.ttf);
}

/* Selector universal */
*{
   box-sizing: border-box; 
}

html, body, h1, h2, h3, p{
    margin:0;
    padding:0;
}
/*
Selectores de TIPO
*/
html{
    font-family: Monserrat, Verdana, Geneva, Tahoma, sans-serif;
}

body{
    font-family: Monserrat;
    background-color: aqua; /*  #000000 #ffffff */
}

header{
    background-color: #ffff00;
}

a{
    color: #000000;
    text-decoration: none;
}
/* SELECTORES DE CLASE */

/* .vinculos{
    color: #222;
} */

/* --------------- */


.encabezado-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ccc;
    padding:5px;
}

.encabezado-principal a img{
  width: 50px;
}
.encabezado-principal .vinculos a{
    color: #222;
}

/* ----------------- */
.contenido-principal{
    background-color: aqua;
}
/* ----------------------*/ 
.pie-principal{
    background-color: #ccc;
}

/* Selector ID */
/* #contactos{
    background-color: #ffff00;
} */

/* Selector Atributo*/

[class]{

}